In [1]:
import os
import pandas as pd

In [3]:
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'item_categories.csv',
 'items.csv',
 'sales_train.csv',
 'sample_submission.csv',
 'shops.csv',
 'test.csv',
 'Untitled.ipynb']

In [5]:
train=pd.read_csv("sales_train.csv")
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [7]:
test=pd.read_csv("test.csv")
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [8]:
train.isnull().sum(axis=0).head(15)

date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

In [11]:
train['shop_id'].unique().size

60

In [12]:
train['item_id'].unique().size

21807